/*** Google Web Fonts *********************************************************/

@import url("http://fonts.googleapis.com/css?family=UnifrakturMaguntia|Bangers");

/*** BlueprintCSS Reset Styles ************************************************/

html{margin:0;padding:0;border:0}body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;line-height:100%}article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1.5;background:white}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;float:none!important}table,th,td{vertical-align:middle}blockquote:before,blockquote:after,q:before,q:after{content:''}blockquote,q{quotes:"" ""}a img{border:none}:focus{outline:0}div.clear{clear:both}div.left{float:left}div.right{float:right}

/*** G's Bar Styles ***********************************************************/

* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-image: url("./images/wood.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Georgia;
}
body #wrapper p {
	line-height: 125%;
}
body #wrapper {
	background-image: url("./images/mask.png");
	background-position: center 0;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
}
.container {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
#footer, #footerpush {
	height: 2em;
}
#footer, #footer p {
	overflow: hidden;
	line-height: 2em;
}


#nav {
	height: 61px;
	width: 100%;
	background-color: #494949;
	background-image: url("./images/sprite-x.png");
	background-position: 0 -301px;
	background-repeat: repeat-x;
	position: relative;
	z-index: 40;
}
#nav ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: block;
	float: left;
	height: 61px;
	margin: 0 0 0 -1px;
	position: relative;

}
#nav ul li a {
	position: relative;
	z-index: 50;
	font-family: UnifrakturMaguntia, Georgia;
	text-transform: lowercase;
	text-decoration: none;
	color: #888;
	font-size: 26px;
	line-height: 61px;
	display: block;
	float: left;
	padding: 0 10px;
	height: 61px;
	background-image: url("./images/sprite-x.png");
	background-position: 0 70px;
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 #000;
}
#nav ul li.active a, #nav ul li a.active {
	z-index: 51;
	background-color: #416a8b;
	background-position: 0 -363px;
	background-repeat: repeat-x;
	padding: 0 9px;
	border: 1px solid #000;
	border-top: 0;
	border-bottom: 0;
	color: #000;
	text-shadow: 0 1px 0 #A3B9CC;
}

#nav ul li:hover a:link,
#nav ul li a:link:hover {
	z-index: 52;
	background-position: 0 -425px;
	background-repeat: repeat-x;
	padding: 0 9px;
	border: 1px solid #000;
	border-top: 0;
	border-bottom: 0;
	color: #000;
	text-shadow: 0 1px 0 #bdbdbd;
}

#nav li ul {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	background-color: #878787;
	top: 60px;
	z-index: 35 !important;
	display: none;
	padding: 3px 0;
}
div#wrapper div#nav ul li ul li {
	line-height: 100%;
	height: auto;
	clear: both;
	font-size: 100%;
	padding: 3px 0;
}
div#wrapper div#nav ul li ul li a {
	background-image: none;
	border: 0;
	height: auto;
	line-height: 100%;
	white-space: nowrap;
	display: block;
}
#nav li:hover ul {
	display: block;
}
#nav li ul li:hover a:link,
#nav li ul li a:link:hover {
	color: #ccc;
	text-shadow: 0 1px 0 #000;
}

h1, h2, h3, h4 {
	-webkit-text-stroke: 1px transparent;
}

#header {
	background-color: #416a8b;
	background-image: url("./images/sprite-x.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 300px;
	overflow: hidden;
	box-shadow: 0 8px 50px #000;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 30;
	border-bottom: 1px solid #000;
}
#header .logo {
	background-image: url("./images/gbarlogo.png");
	background-repeat: no-repeat;
	width: 250px;
	height: 251px;
	margin: 0;
	padding: 0;
	-webkit-transition-duration: 0.5s;
	float: right;
	margin: 25px 0 0 25px;
	background-position: 0 0;
	opacity: 0.6;
}
#header .logo:hover {
	opacity: 1;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-family: Bangers, Georgia;
	letter-spacing: 5px;
	font-size: 100px;
	padding: 15px 0 0;
	text-shadow: 0 2px 0 #adbfce;
	color: #222;
	-webkit-text-stroke: 1px transparent;
}
#header h2 {
	margin: 0;
	padding: 0;
	width: 680px;
	font-weight: normal;
	text-shadow: 0 1px 0 #9caebd;
	font-size: 50px;
	color: #333;
}

.section {}
.section .article {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background-color: #bababa;
	background-image: url("./images/metaltexture.png");
	margin: 20px 0 0;
	border: 2px solid #333;
	box-shadow: 3px 3px 20px #000;
	padding: 10px;
}

.section a {
	text-decoration: none;
	color: #234560;
}
.section a:hover {
	text-decoration: underline;
}

.section .article.dark {
	background-color: #868789;
	background-image: url("./images/metaltexturehalf.png");
}

.social_plugins {
	-webkit-border-radius: 0 0 8px 8px !important;
	-moz-border-radius: 0 0 8px 8px !important;
	-o-border-radius: 0 0 8px 8px !important;
	border-radius: 0 0 8px 8px !important;
	border-top: 0 !important;
	padding: 20px 10px 8px !important;
	margin: 0 !important;
}
.social_plugins .twitter {
	overflow: hidden;
	width: 200px;
	float: right;
	margin-top: 2px;
}
.social_plugins .facebook {
	width: 700px;
	overflow: hidden;
}

.placeholder {
	overflow: hidden;
}
.placeholder img {
	float: left;
	position: relative;
	top: -32px;
	left: -20px;
	-webkit-transform: rotate(-10deg);
	border: 1px solid #000;
	box-shadow: 2px 2px 20px #000;
}
.placeholder h3 {
	font-family: Bangers;
	margin: 0 0 10px;
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 32px;
}
.placeholder .left {
	margin: 0 0 0 10px;
	width: 590px;
}
.placeholder p {}

#footer {
	background-color: red;
	display: none;
}