/*** Google Web Fonts ********************************************************
@import "http://fonts.googleapis.com/css?family=UnifrakturMaguntia|Bangers";  */

/*** Twitter's Bootstrap ******************************************************/
@import "./bootstrap/bootstrap.less";

/*** G's Bar, Cheltenham: Variables *******************************************/
@footerHeight: 100px;
@backgroundImage: url("../images/backgrounds/woodtile.png");

/*** G's Bar, Cheltenham: Styles **********************************************/

html, body {
	height: 100%;
}

body {
	background-image: @backgroundImage;
	background-position: center 0;
}

#overlay {
	display: none;
}

#wrapper {
}

.topbar {
	h1 {
		margin: 0 !important;
	}
	ul li a {
		font-family: "UnifrakturMaguntia";
		font-size: 150%;
		text-transform: lowercase;
	}
}

#masthead {
	background-image: url("../images/backgrounds/masthead.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 300px;
	overflow: hidden;
	box-shadow: 0 0 20px #000;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 10;
	border-bottom: 2px solid #000;
	hgroup {
		padding: 0;
		margin: 10px 0;
		height: 50px;
		overflow: hidden;
		h2 {
			padding: 5px 10px;
			margin: 0;
			background-image: url("../images/backgrounds/metal/90.png");
			color: #000;
			border: 2px solid #333;
			.border-radius(5px);
			-webkit-text-stroke: 1px transparent;
			text-stroke: 1px transparent;
			text-shadow: 0 1px 1px #ccc;
		}
	}
}

#content {
	position: relative;
	z-index: 20;
	top: 110px;
	.outer-container {
		background-image: @backgroundImage;
		background-position: center -110px;
		height: 230px;
		max-height: 230px;
		border: 2px solid #000;
		border-bottom: 0;
		.border-radius(5px 5px 0 0);
		width: 966px;
		margin: 0 auto;
		.fill-container {
			min-height: 240px;
			background-image: @backgroundImage;
			background-position: center -112px;
			padding: 10px 20px 0 10px;
		}
	}
	article {
		background-image: url("../images/backgrounds/paper/80.png");
		border: 2px solid #000;
		width: 944px;
		.border-radius(5px);
	}
}

.social {
	.clearfix();
	.social-twitter {
		float: right;
	}
	.social-facebook {
		float: left;
	}
}