/*** Google Web Fonts ********************************************************
@import "http://fonts.googleapis.com/css?family=UnifrakturMaguntia|Bangers";  */

/*** Twitter's Bootstrap ******************************************************/
@import "./bootstrap/bootstrap.less";

/*** G's Bar, Cheltenham: Variables *******************************************/
@image_wood:		url("../images/v2/wood.png");
@image_albumart:	url("../images/v2/masthead.png");
@image_topbar:		url("../images/v2/topbar-title.png");
@image_ribbon:		url("../images/v2/drunken-allstars.png");
@image_logo:		url("../images/v2/logo.png");
@image_shadow:		url("../images/v2/cutout-shadow.png");
@image_glowtop:		url("../images/v2/content-shadow-top.png");
@image_glow:		url("../images/v2/content-shadow-y.png");
@image_paper:		url("../images/v2/paper.png");

/*** Mixins *******************************************************************/

.no-text() {
	/* Make sure that the element has a set width. This causes the text to have no effect on the dimensions of the element. */
	color: transparent;
	text-indent: -9999em;
}

/*** G's Bar, Cheltenham: Styles **********************************************/

html {
	background-color: #4d4d4d;
	background-image: @image_wood;
	background-position: center 0;
	background-repeat: repeat;
}
body {
	background-color: transparent;
	background-image: @image_albumart;
	background-position: center 40px;
	background-repeat: repeat-x;
	min-height: 380px;
}

#overlay {
	display: none;
}
#wrapper {
	
}
#topbar {
	h1 {
		margin: 0 !important;
		a {
			background-image: @image_topbar;
			background-position: center 0;
			background-repeat: no-repeat;
			width: 82px;
			.no-text();
			&:hover {
				background-position: center -40px;
			}
		}
	}
	ul li a {
		font-family: "UnifrakturMaguntia";
		text-transform: lowercase;
		font-size: 150%;
	}
}
#masthead {
	padding: 52px 0 0;
	min-height: 47px;
	height: 47px;
	overflow: hidden;
	.alert-message {
		height: 18px;
		overflow: hidden;
		padding: 4px 7px 9px;
		line-height: 24px;
		box-shadow: 0 0 50px #ff9;
		margin: 0 0 14px 0;
		.close {
			margin-top: 4px;
		}
		a {
			color: #882a25;
			text-shadow: 0 1px 0 #d9716c;
		}
	}
}
#header {
	background-color: #4d4d4d;
	background-image: @image_wood;
	background-position: center -99px;
	background-repeat: repeat;
	width: 980px;
	margin: 0 auto;
	position: relative;
	.border-radius(15px);
	.shadow {
		background-color: transparent;
		background-image: @image_shadow;
		background-position: center 0;
		background-repeat: no-repeat;
		min-height: 290px;
		height: 290px;
		overflow: hidden;
	}
	.ribbon {
		background-color: transparent;
		background-image: @image_ribbon;
		background-position: 0 0;
		background-repeat: no-repeat;
		position: absolute;
		top: 2px;
		right: 2px;
		width: 140px;
		height: 140px;
		.no-text();
	}
	h2 {
		background-color: transparent;
		background-image: @image_logo;
		background-position: 0 0;
		background-repeat: no-repeat;
		font-size: 48px;
		line-height: 52px;
		height: 58px;
		overflow: hidden;
		padding: 113px 20px 0 210px;
		margin: 0;
		color: black;
		text-shadow: 0 1px 1px #f60;
	}
}
#content {
	
}
#footer {
	
}